@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Orbitron&display=swap');
// font-family : 웹폰트 3개 (본고딕, 나눔고딕, 나눔명조, orbitron, notosans)
// color
// font-size

:root {
	--baseFont: 'Nanum Myeongjo', 'arial', '돋움'; //영,한 순서
	--pointFont: 'obitron', 'arial';
	--baseColor: #111;
	--baseColor-code: 18, 18, 18;
	--pointColor: hotpink;
	--bgColor: #efefef;
	--bgColor-code: 240, 240, 240;
	--titSize0: 4rem;
	--titSize1: 2.4rem;
	--titSize2: 1.6rem;
	--bodySize: 1rem;
}

.dark {
	--baseColor: #efefef;
	--baseColor-code: 255, 255, 255;
	--bgColor: #222;
}

// $tablet: 999px; scss 변수
