.Visual {
	width: 100%;
	height: calc(100vh - 90px);
	position: relative;
	display: flex;
	justify-content: flex-end;

	.txtBox {
		width: 20%;
		height: 100%;
		border: 1px solid blue;
	}
	.swiper {
		width: 80%;
		height: 100%;
		padding: 10vw 0;
		display: inline-block;

		.swiper-wrappler {
			height: inherit;
		}
	}
}
