.Header {
	width: 80vw;
	padding: 30px 5px;
	border-bottom: 1px solid rgba(var(--baseColor-code), 0.2);
	display: flex;
	justify-content: space-between;
	margin: 0 auto;

	h1 {
		font-size: var(--titSize2);
	}

	ul {
		display: flex;
		align-items: center;
		gap: 50px;

		a.on {
			color: var(--pointColor);
			font-weight: bold;
		}
	}

	.menuToggle {
		display: none;
	}
}

//tablet
.tablet,
.mobile {
	.header {
		width: 85vw;
		ul {
			display: none;
		}

		.menuToggle {
			display: block;
		}
	}
}

//mobile
.mobile {
	.header {
		width: 90vw;
	}
}
