.Contant {
	.tab {
		position: relative;
		width: 100%;
		height: 50vh;
		background-color: var(--baseColor);
		filter: saturate(0);
		transition: filter 0.5s linear;

		&:hover {
			filter: saturate(1);
		}
		.mapBox,
		.viewBox {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 1;

			&.on {
				opacity: 1;
				z-index: 2;
			}
		}
	}
}

.dark {
	.Contant {
		.tab {
			filter: saturate(0.5) invert(1) contrast(0.7);
			// filter: saturate(0.5) brightness(0.4) contrast(1.5) hue-rotate(180deg);
			// 채도, 명도(밝기), 대비, 색상 반전
		}
	}
}
/*
filter 
- saturate(1) : 1보다 적으면 채도 낮추고, 크면 채도 올림
- brightness(1) : 1보다 적으면 명도 낮추고, 크면 명도 올림
- contrast(1) : 1보다 적으면 명암의 대비 폭을 낮추고, 크면 명암의 대비 폭을 올림
- invert(1) : 1을 주면 색상값 반전, 0은 원래 값
- rotate(0deg) : 현재 색상 기준으로 색상환의 각도를 변경해서 색상 자체를 바꿈 (180반대)

*/
