.Community {
	.pagination {
		margin-bottom: 80px;
		display: flex;
		gap: 10px;

		button {
			color: var(--baseColor);
			opacity: 0.7;
			cursor: pointer;
			padding: 5px;

			&.on {
				color: var(--pointColor);
				opacity: 1;
			}
		}
	}
	.comunityWrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.inputBox {
			width: 30%;
			padding-right: 50px;

			input,
			textarea {
				width: 100%;
				border: none;
				border-bottom: 1px solid rgba(var(--baseColor-code), 0.5);
				padding: 5px 10px;
				font-size: 1rem;
				color: var(--baseColor);
				margin-bottom: 20px;
				background-color: transparent;
				resize: none; // textarea 막기
			}

			nav {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				gap: 20px;

				button {
					font-size: 1rem;
					color: var(--baseColor);
					border: 0;
					background-color: transparent;
					cursor: pointer;
				}
			}
		}

		.showBox {
			--num: 3;
			--boxGap: 20px;

			width: 70%;
			padding-left: 50px;
			border-left: 1px solid rgba(var(--baseColor-code), 0.5);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;
			gap: var(--boxGap);

			article {
				// (전체 넓이값 - 총 gap 넓이값 )/개수
				width: calc((100% - var(--boxGap) * (var(--num) - 1)) / var(--num));
				background-color: rgba(var(--baseColor-code), 0.1);
				padding: 20px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.txt {
					width: 100%;

					h2 {
						font-size: 1rem;
						line-height: 1.4;
						border-bottom: 1px solid rgba(var(--baseColor-code), 0.5);
						color: var(--baseColor);
						padding-bottom: 10px;
						margin-bottom: 10px;
					}

					p {
						font: 1rem/1.4 'arial';
						opacity: 0.6;
						margin-bottom: 40px;
					}

					//수정모드
					input,
					textarea {
						border: none;
						width: 100%;
						font-size: 1rem;
						padding: 3px 10px;
						margin-bottom: 20px;
						resize: none;
					}
				}

				nav {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					gap: 20px;

					button {
						border: 0;
						background: transparent;
						cursor: pointer;
						&:nth-of-type(1) {
							color: orange;
						}
						&:nth-of-type(2) {
							color: orangered;
						}
					}
				}
			}
		}
	}
}
